@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}

body, * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.container {
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: bottom;
    background-color: rgb(175, 36, 36);
    background-blend-mode: darken;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.boxcadastro {
    width: 35%;
    height: fit-content;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 4px 5px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--fonte-corpo);
    font-size: 1rem;
}

.boxcadastro h1 {
    font-family: var(--fonte-titulo);
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.boxcadastro button {
    display: inline-block;
    background-color: rgb(223, 9, 9);
    color: white;
    box-shadow: 4px 5px black;
    padding: 5px 12px;
    transform: skew(10deg);
    border: none;
    font-family: var(--fonte-titulo);
    font-size: 1.7rem;
    transition-duration: 0.3s;
    margin-top: 15px;
}

.boxcadastro button:hover {
    cursor: pointer;
    background-color: rgb(114, 0, 23);
    transform: skew(15deg);
}

.logo {
    height: 70px;
    margin-bottom: 20px;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs p {
    align-self: flex-start;
    margin-left: 28px;
}

.inputs select {
    font-family: var(--fonte-corpo);
    padding: 8px;
    font-size: 1.1rem;
    align-self: flex-start;
    margin-left: 26px;

    border: 2px solid black;
    box-shadow: 2px 1px black;
}

.inputs select:focus {
    outline: none;
}

.inputicon input:focus {
    outline: none;
}

.inputicon {
    width: 100%;
    display: flex;
    align-items: center;
}

.inputicon input {
    text-indent: 30px;
    padding: 10px;
    width: 90%;
    border: 2px solid black;
    box-shadow: 2px 1px black;
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    margin-bottom: 10px;
}

.voltar {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    margin-top: 20px;
}

.voltar:hover {
    text-decoration: underline;
}

.icone {
    height: 28px;
    transform: translateX(35px) translateY(-6px);
}

p#res {
    margin-top: 3px;
    margin-bottom: -2px;
}

.chk {
    font-size: 0.82rem;
    margin-top: -8px;
    margin-bottom: 5px;
    color: red;
}

