@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}


*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.navbar {
    height: 70px;
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: bottom;
    background-color: rgb(36, 108, 175);
    background-blend-mode: multiply;

    font-family: var(--fonte-titulo);
    font-weight: 500;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.364);


}


.navbar a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.27rem;
}

.menucentral {
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.menucentral a {
    transition-duration: 0.3s;
}


.menucentral a:hover {
    cursor: pointer;
    color: #ff0000;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.user a {
    display: inline-block;
    background-color: #B11313;
    box-shadow: 4px 5px black;
    padding: 5px 15px;
    transform: skew(-15deg);
    transition-duration: 0.3s;
}


.user a:hover {
    transform: skew(-25deg) scale(1.07);
    background-color: #850f0f;
}

.logo {
    height: 50px;
    transition-duration: 0.3s;
}

.logo:hover {
    cursor: pointer;
}

.conteudo {
    height: fit-content;
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: top;
    background-color: rgb(180, 39, 39);
    background-blend-mode: multiply;
    padding: 35px;
}

.sobre h1 {
    font-family: var(--fonte-titulo);
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 4px 5px black;
}

.fototexto  {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.fototexto2  {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}

.fototexto3  {
    display: flex;
    align-items: center;
}

.textfoto2 {
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 5px 6px black;
    width: 70%;
    height: fit-content;
    margin-left: 50px;
    padding: 15px;
    font-size: 1.2rem;
    font-family: var(--fonte-corpo);
    line-height: 2rem;
}

.textfoto3 {
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 5px 6px black;
    width: 70%;
    height: fit-content;
    margin-left: 50px;
    padding: 15px;
    font-size: 1.2rem;
    font-family: var(--fonte-corpo);
    line-height: 2rem;
}

.textfoto {
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 5px 6px black;
    width: 70%;
    height: fit-content;
    margin-left: 50px;
    padding: 15px;
    font-size: 1.2rem;
    font-family: var(--fonte-corpo);
    line-height: 2rem;
    
}

.textfoto h2 {
    color: black;
    font-family: var(--fonte-titulo);
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.textfoto2 h2 {
    color: black;
    font-family: var(--fonte-titulo);
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.textfoto3 h2 {
    color: black;
    font-family: var(--fonte-titulo);
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.euhoje {
    height: 320px;
    border-radius: 50%;
    border: 5px solid black;
}

.eukid2 {
    height: 320px;
    border-radius: 50%;
    border: 5px solid black; 
    margin-left: 50px;
}

.rodape {
    background-color: rgb(12, 12, 12);
    height: 250px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 4px solid white;
}

.rodape a {
    color: white;
    margin-bottom: 5px;
    text-underline-offset: 5px;
    transition-duration: 0.3s;
}

.rodape a:hover {
    color: #B11313;
}

.rodape h3{
    font-family: var(--fonte-titulo);
    font-size: 1.6rem;
    font-weight: lighter;
}

.conteudorodape {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-corpo);
    font-size: 1.1rem;
}

.conteudorodape img {
    align-self: center;
}

.conteudorodape h3 {
    margin-bottom: 20px;
}

.rodape span {
   font-size: 0.7rem; 
   text-align: center;
   margin-top: 10px;
}

