@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}

body, * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    width: 100vw;
}

#container {
    height: 100%;
    width: 100%;
    background: url("../assets/padraoteia.svg"), url("../assets/textura.png");
    background-repeat: no-repeat, repeat;
    background-size: cover, 25%;
    background-position: left top;
    background-color: #b42727;
    background-blend-mode: darken, soft-light;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--fonte-corpo);
}

#boxdash {
    background-color: white;
    height: 96%;
    width: 98%;
    box-shadow: 5px 6px black;
    border: 2px solid black;
    display: flex;
}

#menu {
    height: 100%;
    width: 18%;
    background-color: #246caf;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 2rem;
    text-align: center;
}

#menu a {
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 100px;
}

#conteudo {
    width: 82%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#bv {
    width: 100%;
    height: 10%;
    padding: 10px;
}

#grafs {
    width: 100%;
    height: 85%;
    padding: 10px;
    display: flex;
    gap: 10px;
}

#sessao1 {
    height: 105%;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    box-shadow: 3px 4px black;
}

#sessao2 {
    height: 105%;
    width: 50%;
    border: 2px solid black;
    padding: 10px;

    box-shadow: 3px 4px black;
}

#sessao2 h2 {
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.7rem;
    margin-bottom: 15px;
}

#kpis {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 32px;
}

.cardkpi {
    height: 100px;
    width: 180px;
    border: 2px solid black;
    box-shadow: 2px 3px black;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}

.cardkpi span {
   font-size: 3.6rem;
   font-family: var(--fonte-titulo);
}

.cardkpi p {
    margin-bottom: 2px;
}

#graficoTentativas {
    width: 100%;
    height: 39%;
    border: 2px solid black;
    padding: 5px;
}

#graficoMedia {
    margin-top: -5px;
    width: 100%;
    height: 39%;
    border: 2px solid black;
    padding: 5px;
}

#graficoTentativas h3 {
    font-family: var(--fonte-titulo);
    font-weight: 200;
    text-align: center;
}

#graficoMedia h3 {
    font-family: var(--fonte-titulo);
    font-weight: 200;
    text-align: center;
}

#graficoPreferencia {
    width: 100%;
    height: 85%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: var(--fonte-titulo);
    margin-top: -150px;
}

.itens a {
    color: white;
    text-decoration: none;
    transition-duration: 0.2s;
}

.itens a:hover {
    color: #b42727;

}

.logout {
    font-size: 1.3rem;
    font-family: var(--fonte-corpo);
    display: flex;
    flex-direction: column;

} 

.logout a {
    color: white;
    transition-duration: 0.3s;
    text-decoration: none;
}

.logout a:hover {
    text-decoration: underline;
}