@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}

body, * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    width: 100vw;
}

#container {
    height: 100%;
    width: 100%;
    background: url("../assets/padraoteia.svg"), url("../assets/textura.png");
    background-repeat: no-repeat, repeat;
    background-size: cover, 25%;
    background-position: left top;
    background-color: rgb(180, 39, 39);
    background-blend-mode: darken, soft-light;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--fonte-corpo);
}

#boxdash {
    background-color: white;
    height: 96%;
    width: 98%;
    box-shadow: 5px 6px black;
    border: 2px solid black;
    display: flex;
}

#menu {
    height: 100%;
    width: 18%;
    background-color: rgb(36, 108, 175);
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 1.9rem;
    gap: 20px;
    text-align: left;
}

#menu a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-titulo);
    text-align: left;
}

.logo {
    width: 150px;
    margin-bottom: 100px;
}

#conteudo {
    width: 82%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#bv {
    width: 100%;
    height: 10%;
    padding: 10px;
}

#grafs {
    width: 100%;
    height: 85%;
    padding: 10px;
    display: flex;
    gap: 10px;
}

#sessao1 {
    height: 105%;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sessao2 {
    height: 105%;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}

#sessao2 h2 {
    font-family: var(--fonte-titulo);
    font-weight: 200;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

#kpis {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 32px;
}

.cardkpi {
    height: 100px;
    width: 180px;
    border: 1px solid black;
    box-shadow: 2px 3px black;
}

#graficoTentativas {
    width: 100%;
    height: 37%;
    border: 1px solid red;
}

#graficoMedia {
    width: 100%;
    height: 37%;
    border: 1px solid red;
}

#graficoPreferencia {
    width: 100%;
    height: 85%;
    border: 1px solid red;
}