@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}


*,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.navbar {
    height: 70px;
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: bottom;
    background-color: rgb(36, 108, 175);
    background-blend-mode: multiply;

    font-family: var(--fonte-titulo);
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.364);


}


.navbar a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.27rem;
}

.menucentral {
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.menucentral a {
    transition-duration: 0.3s;
}


.menucentral a:hover {
    cursor: pointer;
    color: #ff0000;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.user a {
    display: inline-block;
    background-color: #B11313;
    box-shadow: 4px 5px black;
    padding: 5px 15px;
    transform: skew(-15deg);
    transition-duration: 0.3s;
}


.user a:hover {
    transform: skew(-25deg) scale(1.07);
    background-color: #850f0f;
}

.logo {
    height: 50px;
    transition-duration: 0.3s;
}

.logo:hover {
    cursor: pointer;
}

.conteudo {
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-color: rgb(25, 25, 28);
    background-blend-mode: luminosity, soft-light;
    height: fit-content;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.selecao {
    display: flex;
    flex-direction: column;
}

.selecao h1 {
    font-family: var(--fonte-titulo);
    color: white;
    text-shadow: 2px 3px black;
    font-size: 2.6rem;
    margin-bottom: 20px;
}


.aranhas {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.cardaranha {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.3;
    transition-duration: 0.3s;
}

.cardaranha:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.08);
}

#tobey {
    background: url("../assets/tobeyfilme.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#andrew {
    background: url("../assets/andrewfilme.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#tom {
    background: url("../assets/tomfilme.jpg");
    background-size: cover;
    background-position-x: -50px;
    background-repeat: no-repeat;
}

#miles {
    background: url("../assets/milesfilme.jpg");
    background-size: cover;
    background-position-x: -70px;
    background-repeat: no-repeat;
}

#filmes {
    margin-top: 100px;
}

.cardfilme {
    display: flex;
    height: 450px;
    width: 350px;
    background-color: white;
    border-radius: 5px;
}

#f1 {
    background: url('../assets/sp1tobey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#f1a {
    background: url('../assets/sp1and.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#f2a {
    background: url('../assets/sp2and.jpg');
    background-size: cover;
    background-position-y: -40px;
    background-repeat: no-repeat;
}

.ftxt {
    font-family: var(--fonte-corpo);
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.boxfilme {
    margin-top: 20px;
    height: 290px;
    width: 350px;
    background-color: rgb(248, 231, 154);
    border: 4px solid black;
    box-shadow: 3px 4px black;
    padding: 15px;
    font-size: 1.25rem;
}

.boxfilme h2 {
    font-family: var(--fonte-titulo);
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.55rem;
}

#f2 {
    background: url('../assets/sp2tobey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#f3 {
    background: url('../assets/sp3tobey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#f1t {
    background: url('../assets/sp1t.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -90px;
}

#f2t {
    background: url('../assets/sp2t.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#f3t {
    background: url('../assets/sp3t.jpg ');
    background-size: cover;
    background-repeat: no-repeat;
}

#f1m {
    background: url('../assets/sp1m.jpg ');
    background-position-y: -20px;
    background-size: cover;
    background-repeat: no-repeat;
}

#f2m {
    background: url('../assets/sp2m.jpg ');
    background-size: cover;
    background-repeat: no-repeat;
}

#filmestobey {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 35px;
}

#filmestom {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 35px;
}

#filmesandrew {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
}

#filmesmiles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
}

#mural {
    font-family: var(--fonte-corpo);
    color: white;
    margin-top: 30px;
}

#mural textarea {
    width: 55%;
    height: 120px;
    font-family: var(--fonte-corpo);
    box-shadow: 3px 4px black;
    border: 2px solid black;
    font-size: 1.2rem;
}

#mural button {
    padding: 8px 15px;
    font-family: var(--fonte-titulo);
    font-size: 1.4rem;
    margin-left: 20px;
    display: inline-block;
    color: white;
    background-color: #B11313;
    box-shadow: 4px 5px black;
    padding: 5px 15px;
    transform: skew(-15deg);
    transition-duration: 0.3s;
    border: none;

}

#mural button:hover {
    transform: skew(-20deg) scale(1.05);
    background-color: #850f0f;
    cursor: pointer;
}

.comentario {
    display: flex;
    align-items: center;
}

#postados {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.comentarioM {
    max-width: fit-content;
    height: fit-content;
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 4px black;
    padding: 15px;
    font-family: var(--fonte-corpo);
    font-size: 1.2rem;

    margin-bottom: 15px;
}

.comentarioM h3 {
    font-family: var(--fonte-titulo);
    font-weight: lighter;
    margin-bottom: 5px;
}


.rodape {
    background-color: rgb(12, 12, 12);
    height: 250px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 4px solid white;
}

.rodape a {
    color: white;
    margin-bottom: 5px;
    text-underline-offset: 5px;
    transition-duration: 0.3s;
}

.rodape a:hover {
    color: #B11313;
}

.rodape h3 {
    font-family: var(--fonte-titulo);
    font-size: 1.6rem;
    font-weight: lighter;
}

.conteudorodape {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-corpo);
    font-size: 1.1rem;
}

.conteudorodape a {
    margin-right: 8px;
}


.conteudorodape img {
    align-self: center;
}

.conteudorodape h3 {
    margin-bottom: 20px;
}

.rodape span {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 10px;
}