@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}


*, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.navbar {
    height: 70px;
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: bottom;
    background-color: rgb(36, 108, 175);
    background-blend-mode: multiply;

    font-family: var(--fonte-titulo);
    font-weight: 500;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.364);


}


.navbar a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.27rem;
}

.menucentral {
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.menucentral a {
    transition-duration: 0.3s;
}


.menucentral a:hover {
    cursor: pointer;
    color: #ff0000;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.user a {
    display: inline-block;
    background-color: #B11313;
    box-shadow: 4px 5px black;
    padding: 5px 15px;
    transform: skew(-15deg);
    transition-duration: 0.3s;
}


.user a:hover {
    transform: skew(-25deg) scale(1.07);
    background-color: #850f0f;
}

.logo {
    height: 50px;
    transition-duration: 0.3s;
}

.logo:hover {
    cursor: pointer;
}


.conteudo {
    height: fit-content;
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-color: rgb(36, 108, 175);
    background-blend-mode: multiply, soft-light;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.conteudo h1 {
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: white;
    text-shadow: 2px 3px black;
}

.cardconteudo {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 3px 4px black;
    font-family: var(--fonte-corpo);
    font-size: 1.3rem;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.fotosHistoria {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.cardfoto {
    height: 330px;
    width: 250px;
    border: 2px solid black;
    box-shadow: 3px 4px black;
}

.cardconteudo h2 {
    font-family: var(--fonte-titulo);
    font-weight: lighter;
    margin-bottom: 15px;
}

.capa {
    background: url("../assets/capaestreia.jpg");
    background-size: cover;
}


.stanlee {
    background: url("../assets/stansteve.png");
    background-size: cover;
}

.tioben {
    background: url("../assets/tioben.jpeg");
    background-size: cover;
}

.viloes {
    background: url("../assets/viloes.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gwen {
    background: url("../assets/gwenmorte.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mj {
    background: url("../assets/maryjane.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.simbionte {
    background: url("../assets/simbionte.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.venom {
    background: url("../assets/venom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.escarlate {
    background: url("../assets/escarlate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.miles {
    background: url("../assets/mileshq.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.docock {
    background: url("../assets/docock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.aranhaverso {
    background: url("../assets/aranhaverso.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.rodape {
    background-color: rgb(12, 12, 12);
    height: 250px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 4px solid white;
}

.rodape a {
    color: white;
    margin-bottom: 5px;
    text-underline-offset: 5px;
    transition-duration: 0.3s;
}

.rodape a:hover {
    color: #B11313;
}

.rodape h3{
    font-family: var(--fonte-titulo);
    font-size: 1.6rem;
    font-weight: lighter;
}

.conteudorodape {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-corpo);
    font-size: 1.1rem;
}

.conteudorodape a {
    margin-right: 8px;
}


.conteudorodape img {
    align-self: center;
}

.conteudorodape h3 {
    margin-bottom: 20px;
}

.rodape span {
   font-size: 0.7rem; 
   text-align: center;
   margin-top: 10px;
}

