@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}


*,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: bottom;
    background-color: rgb(36, 108, 175);
    background-blend-mode: multiply;

    font-family: var(--fonte-titulo);
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.364);
}


.navbar a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.27rem;
}

.menucentral {
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.menucentral a {
    transition-duration: 0.3s;
}


.menucentral a:hover {
    cursor: pointer;
    color: #ff0000;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.user a {
    display: inline-block;
    background-color: #B11313;
    box-shadow: 4px 5px black;
    padding: 5px 15px;
    transform: skew(-15deg);
    transition-duration: 0.3s;
}


.user a:hover {
    transform: skew(-25deg) scale(1.07);
    background-color: #850f0f;
}

.logo {
    height: 50px;
    transition-duration: 0.3s;
}

.logo:hover {
    cursor: pointer;
}

.banner {
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-color: rgb(25, 25, 28);
    background-blend-mode: luminosity, soft-light;
    background-position: right top;
    height: 385px;
    width: 100%;
}

.spidey {
    height: 550px;
    transform: scaleX(-1) translateY(-320px);
    filter: drop-shadow(-10px 5px 16px #0000009a);
}

.milesm {
    height: 480px;
    transform: translateY(-780px) translateX(1128px);
}

.amazing {
    height: 800px;
    transform: translateY(-240px) translateX(-40px);
    filter: drop-shadow(4px 4px #000000);
}

.conteudo {
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: top;
    background-color: rgb(175, 36, 36);
    background-blend-mode: darken, soft-light;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bemvindo {
    height: 60%;
    width: 60%;
    background-color: rgb(248, 231, 154);
    border: 4px solid black;
    box-shadow: 4px 5px black;  
    padding: 20px;
    font-family: var(--fonte-corpo);
    font-size: 1.3rem;
    text-align: center;
}

.bemvindo p {
    text-align: left;
    margin-bottom: 20px;
}

.bemvindo a {
    text-decoration: none;

    display: inline-block;
    background-color: #B11313;
    color: white;
    box-shadow: 4px 5px black;
    padding: 10px;
    transform: skew(-15deg);

    font-size: 1.7rem;
    font-family: var(--fonte-titulo);
    transition-duration: 0.3s;
}

.bemvindo a:hover {
    background-color: #850e0e;
    transform: skew(-20deg);
}

.bemvindo h1 {
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 15px;
}

.quadrinhos {
    height: 400px;
    background: url("../assets/quadrinhos.jpg");
    border-bottom: 8px solid rgb(0, 0, 0);
    border-top: 8px solid rgb(0, 0, 0);

    filter: sepia(40%);

    display: flex;
    align-items: center;
    justify-content: center;
}


.texthq {
    background: url("../assets/gifduvida.gif"), white;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 569px 153px;
    width: 50%;
    height: 90%;
    border: 2px solid black;
    box-shadow: 4px 5px black;
    transform: skew(-4deg);
    padding: 20px;
    font-family: var(--fonte-corpo);
    color: black;
    font-size: 1.4rem;
    text-align: center;
}

.texthq h1 {
    font-family: var(--fonte-titulo);
    font-size: 2.2rem;
    font-weight: lighter;
    margin-bottom: 10px;
    text-align: left;
}

.texthq a {
    display: inline-block;
    background-color: rgb(9, 120, 223);
    color: white;
    box-shadow: 4px 5px black;
    padding: 12px;
    transform: skew(10deg);
    font-family: var(--fonte-titulo);
    border: none;
    font-size: 2.4rem;
    transition-duration: 0.3s;
    text-decoration: none;
    margin-top: 20px;
}

.texthq p {
    text-align: left;
}

.texthq a:hover {
    cursor: pointer;
    background-color: rgb(0, 59, 114);
    transform: skew(15deg);
}


.conteudor {
    height: 620px;
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: 0px -900px;
    background-color: rgb(36, 108, 175);
    background-blend-mode: multiply, soft-light;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardsfilmes {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
}

.linhac {
    display: flex;
    gap: 20px;
}

.cards {
    height: 260px;
    width: 270px;
    overflow: hidden;

    transition-duration: 0.3s;

}

.cards:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.textfilmes {
    width: 80%;
    height: fit-content;
    margin-right: 30px;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 20px;
    box-shadow: 4px 5px black;
    transform: skew(4deg);

    font-family: var(--fonte-corpo);
    font-size: 1.4rem;
    text-align: center;
}

.textfilmes p {
    text-align: left;
}

.textfilmes a {
    margin-top: 0px;
    padding: 10px;
    border: none;
    text-decoration: none;

    display: inline-block;
    background-color: #B11313;
    color: white;
    box-shadow: 4px 5px black;
    padding: 10px;
    transform: skew(-15deg);

    font-size: 1.7rem;
    font-family: var(--fonte-titulo);
    transition-duration: 0.3s;
}

.textfilmes a:hover {
    transform: skew(-25deg) scale(1.03);
    background-color: #850f0f;
    cursor: pointer;
}

.textfilmes h1 {
    font-family: var(--fonte-titulo);
    font-weight: lighter;
    font-size: 2.3rem;
    margin-bottom: 20px;
    text-align: left;
}

.tobey img {
    width: 100%;
    transform: translateY(-20px);
}

.andrew img {
    width: 100%;
    transform: translateY(-90px);
}

.tom img {
    width: 100%;
    transform: translateY(-70px);
}

.miles img {
    height: 100%;
    transform: translateX(-110px);
}

.footer {
    height: 400px;
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-color: rgb(25, 22, 22);
    background-blend-mode: luminosity, soft-light;

    display: flex;
    align-items: center;
}

.spideyb {
    height: 350px;
    transform: translateY(-191px) translateX(1150px);
    filter: drop-shadow(15px 20px 10px rgba(0, 0, 0, 0.578));
}

.cardfooter {
    width: 60%;
    height: fit-content;
    background-color: rgb(248, 231, 154);
    box-shadow: 4px 5px black;
    border: 4px solid black;
    margin-left: -200px;
    transform: skew(-5deg);
    padding: 20px;
    font-family: var(--fonte-corpo);
    font-size: 1.4rem;
    text-align: center;
}

.cardfooter h1 {
    font-family: var(--fonte-titulo);
    font-weight: lighter;
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-align: left;
}

.cardfooter p {
    text-align: left;
}

.cardfooter a {
    margin-top: 20px;
    display: inline-block;
    background-color: rgb(24, 26, 28);
    color: white;
    box-shadow: 4px 5px black;
    padding: 15px;
    transform: skew(15deg);
    font-family: var(--fonte-titulo);
    text-decoration: none;
    font-size: 1.7rem;
    transition-duration: 0.3s;
}

.cardfooter a:hover {
    background-color: rgb(81, 81, 81);
    transform: skew(20deg);
}

.rodape {
    background-color: rgb(12, 12, 12);
    height: 250px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 4px solid white;
}

.rodape a {
    color: white;
    margin-bottom: 5px;
    text-underline-offset: 5px;
    transition-duration: 0.3s;
}

.rodape a:hover {
    color: #B11313;
}

.rodape h3 {
    font-family: var(--fonte-titulo);
    font-size: 1.6rem;
    font-weight: lighter;
}

.conteudorodape {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-corpo);
    font-size: 1.1rem;
}

.conteudorodape a {
    margin-right: 8px;
}

.conteudorodape img {
    align-self: center;
}

.conteudorodape h3 {
    margin-bottom: 20px;
}

.rodape span {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 10px;
}