@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}

body, * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: bottom;
    background-color: rgb(36, 108, 175);
    background-blend-mode: multiply;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.boxlogin {
    width: 60%;
    height: 70%;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 4px 5px black;
    display: flex;
}


.imgbox {
    width: 55%;
    background: url("../assets/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -390px;
}

.txtbox {
    width: 45%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    border-left: 2px solid black;
}

.txtbox h1 {
    font-family: var(--fonte-titulo);
    margin-bottom: 10px;
}

.logo {
    height: 60px;
    margin-bottom: 15px;
}

.ainda {
    margin-bottom: 20px;
}

.txtbox button {
    display: inline-block;
    background-color: rgb(9, 120, 223);
    color: white;
    box-shadow: 4px 5px black;
    padding: 5px 12px;
    transform: skew(10deg);
    border: none;
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    transition-duration: 0.3s;
    margin-bottom: 20px;
}

.txtbox button:hover {
    cursor: pointer;
    background-color: rgb(0, 59, 114);
    transform: skew(15deg);
}

.inputs {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    line-height: 2rem;
}

.inputs p {
    align-self: flex-start;
    margin-left: 12px;  
}

.inputicon {
    width: 105%;
    margin-right: 15px;
}

.inputicon input {
    padding: 10px;
    width: 90%;
    border: 2px solid black;
    box-shadow: 2px 1px black;
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    text-indent: 30px;
}

input:focus {
    outline: none;
}

.voltar {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    margin-top: 30px;
}

.voltar:hover {
    text-decoration: underline;
}


.icone {
    height: 28px;
    transform: translateX(35px) translateY(9px);
}
