@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/airborne');

:root {
    --fonte-titulo: 'airborne';
    --fonte-corpo: 'avenir';
}


*,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.volta {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.volta a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(186, 29, 29);
    color: white;
    box-shadow: 4px 5px black;
    padding: 10px;
    transform: skew(10deg);
    font-family: var(--fonte-titulo);
    text-decoration: none;
    font-size: 1.1rem;
    transition-duration: 0.3s;
}

.volta a:hover {
    background-color: rgb(139, 19, 19);
    transform: skew(15deg) scale(1.02);
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    background: url(../assets/padraoteia.svg), url(../assets/textura.png);
    background-repeat: no-repeat, repeat;
    background-size: cover, 40%;
    background-position: bottom;
    background-color: rgb(36, 108, 175);
    background-blend-mode: multiply;
}

#btnIniciarQuiz button {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(186, 29, 29);
    border: none;
    color: white;
    box-shadow: 4px 5px black;
    padding: 10px;
    transform: skew(10deg);
    font-family: var(--fonte-titulo);
    text-decoration: none;
    font-size: 2.5rem;
    transition-duration: 0.3s;
}

#btnIniciarQuiz button:hover {
    background-color: rgb(139, 19, 19);
    transform: skew(15deg) scale(1.02);
    cursor: pointer;
}

.box {
    height: 75%;
    width: 55%;
    background-color: white;
    border: 4px solid black;
    box-shadow: 6px 7px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: var(--fonte-corpo);
    font-size: 1.3rem;
}

#informacao {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 20px;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

#opcoes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#opcoes input[type="radio"] {
    font-family: var(--fonte-corpo);
    height: 1.5rem;
    width: 1.5rem;
    accent-color: rgb(213, 3, 3);
    cursor: pointer;
}

#linha1 {
    display: flex;
    gap: 200px;
}

#linha2 {
    display: flex;
    gap: 200px;
}

#linha1 span {
    display: flex;
    align-items: center;
    gap: 15px;
}

#linha2 span {
    display: flex;
    align-items: center;
    gap: 15px;
}

#botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

#botoes button {
    border: 2px solid black;
    box-shadow: 3px 4px black;
    padding: 4px 8px;
    font-size: 1.05rem;
    background-color: rgb(248, 231, 154);
    font-family: var(--fonte-corpo);
    transition-duration: 0.3s;
}

#botoes button:hover {
    background-color: rgb(210, 194, 122);
    cursor: pointer;
}

#botoes button:disabled:hover {
    cursor: not-allowed;
}

.textocorreta {
    background-color: rgba(36, 203, 36, 0.57);
}

.textoerrada {
    background-color: rgba(203, 36, 36, 0.57);
}